<!DOCTYPE html>
  <%- include('partials/header') %> 
  <body>
      <%- include('partials/notification') %>
      <%- include('partials/nav') %> 
      <%- include('partials/index-slide') %> 
      <!-- Trucks and Construction Equipment -->
      <div>
          <div class="text-center">
              <h1><b>Trucks and Construction Equipment</b></h1>
          </div>
          <div class="container text-center">
            <div class="row align-items-center">
              <div class="col">
                <div>
                  <div>
                    <img src="/imgs/powerstar-logo.jpg" width="250"/>
                  </div>
                  <img src="/imgs/site-images/powerstar1-fp.png" width="250"/>
                  <p>Powerstar Trucks</p>
                </div>
              </div>
              <div class="col">
                <div>
                  <div>
                    <img src="/imgs/site-images/logo-ft.jpg" width="150"/>
                  </div>
                  <img src="/imgs/products/ft-slide/ft10-portrait.jpg" width="250" />
                  <p>FT Series</p>
                </div>
              </div>
              <div class="col">
                <div>
                  <div>
                    <img src="/imgs/site-images/shantui.png" width="250"/>
                  </div>
                  <img src="/imgs/site-images/shantui1-3-fp.png" width="250" />
                  <p>Construction Equipment</p>
                </div>
              </div>
              <div class="col">
                <div>
                  <div>
                    <img src="/imgs/site-images/logo-weichei.jpg" width="250"/>
                  </div>
                  <img src="/imgs/site-images/weichai_fp.jpg" width="250" />
                  <p>FT Series</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- Testimonials Section -->
      <div class="theme-grey">
        <div class="container text-center">
          <h5>Testimonials</h5>
          <p class="display-3"><b>What Our Clients Say</b></p>
          <div class="card-group">
            <div class="card">
              <img src="/imgs/favicon-ico.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  We have 20 Powerstar trucks in our fleet. 
                  I predict that Powerstar is going to grow in SA in the next five years because they provide an affordable 
                  solution to Fleet owner’s transport needs.’
                </p>
                <h5 class="card-title">Hans Meyer</h5>
                <p>Workshop Manager, Induna Logistics</p>
              </div>
            </div>
            <div class="card">
              <img src="/imgs/favicon-ico.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  RADDS have about 400 Powerstar trucks doing duty across the country. 
                  They are hardworking machines which are suitable for Africa’s harsh conditions. 
                  Pricing is good and the parts are affordable and we are also pleased with the after-sales service.’
                </p>
                <h5 class="card-title">Suren Radhalal</h5>
                <p>RADDS</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slogan Section -->
      <div class="theme-bg text-center">
        <p>Driven by <strong>VISION</strong>.Powered by <strong>STRENGTH</strong></p>
      </div>
    <%- include('partials/footer') %> 
  </body>
</html>