<!DOCTYPE html>
<%- include('../partials/header') %>

  <body>
    <%- include('../partials/notification') %>
      <%- include('../partials/nav') %>
        <header class="text-center ">
          <h1 class="display-3 theme-bg theme-header-space"><b>POWERSTAR TRUCKS</b></h1>
        </header>
        <div class="container">
          <div class="pt-5 pb-5">
            <%- include('../partials/index-slide') %>
          </div>
          <h6>
            Are you in the market for a no-nonsense workhorse?
          </h6>
          <p>
            Manufactured by the world’s leading commercial vehicle suppliers, Beiben.
            Everstar Industries range of Powerstar trucks include:
            4x2, 4x4, 6x4, 6x6 and 8x4 chassis cabs and truck tractor derivatives with power outputs
            ranging from 270 hp to 460 hp.
          </p>

          <div class="text-center p-5">
            <h1>V3 Range</h1>
            <p>Long Haul Trucks</p>
            <div class="row text-center pb-3">
              <div class="col-xl-4 p-2">
                <a href="/products/powerstar-trucks/v3-2646">
                  <img class="img-fluid" src="/imgs/products/screen-shot-2018-03-02-at-10-37-12.png" width="500" alt="">
                </a>
                <h4>Powerstar V3-2646 6x4</h4>
              </div>
              <div class="col-xl-4 p-2">
                <a href="/products/powerstar-trucks/v3-2646-et">
                  <img class="img-fluid" src="/imgs/products/screen-shot-2018-03-02-at-10-37-12.png" width="500" alt="">
                </a>
                <h4>Powerstar V3-2646 ET 6x4</h4>
              </div>
              <div class="col-xl-4 p-2">
                <a href="/products/powerstar-trucks/v3-2646s">
                  <img class="img-fluid" src="/imgs/products/screen-shot-2018-03-02-at-10-23-43.png" width="500" alt="">
                </a>
                <h4>Powerstar V3 2646S ET AMT 6x4</h4>
              </div>
            </div>
            <h1 class="pb-3 pt-5">VX Range</h1>
            <div class="row">
              <div class="col-xl-3">
                <a href="/products/powerstar-trucks/vx1627">
                  <img class="img-fluid" src="/imgs/products/1627-4x2.jpg" width="500" alt="">
                </a>
                <h4>Powerstar VX1627-4x2</h4>
              </div>
              <div class="col-xl-3">
                <a href="/products/powerstar-trucks/vx1729">
                  <img class="img-fluid" src="/imgs/products/1729-vx-1.jpg" width="500" alt="">
                </a>
                <h4>Powerstar VX1729 4x4</h4>
              </div>
              <div class="col-xl-3">
                <a href="/products/powerstar-trucks/vx-2628">
                  <img class="img-fluid" src="/imgs/products/powerstar-vx-2628-6x4-swb-lwb.jpg" width="500" alt="">
                </a>
                <h4>Powerstar VX2628 6x4 SWB & LWB</h4>
              </div>
              <div class="col-xl-3">
                <a href="/products/powerstar-trucks/vx2635">
                  <img class="img-fluid" src="/imgs/products/vx-2635a.jpg" width="500" alt="">
                </a>
                <h4>Powerstar VX2635A-6x6</h4>
              </div>
              <div class="col-xl-3">
                <a href="/products/powerstar-trucks/vx2642">
                  <img class="img-fluid" src="/imgs/products/powerstar-vx-2642-6x4.jpg" width="500" alt="">
                </a>
                <h4>Model: Powerstar VX2642 6x4</h4>
              </div>
              <div class="col-xl-3">
                <a href="/products/powerstar-trucks/vx3335">
                  <img class="img-fluid" src="/imgs/products/powerstar-vx-3335-6x4-swb-lwb.jpg" width="500" alt="">
                </a>
                <h4>Model: Powerstar VX3335 6x4 SWB & LWB</h4>
              </div>
              <div class="col-xl-3">
                <a href="/products/powerstar-trucks/vx4035">
                  <img class="img-fluid" src="/imgs/products/powerstar-vx-4035-8x4-1.jpg" width="500" alt="">
                </a>
                <h4>Model: Powerstar VX4035 8x4</h4>
              </div>
            </div>
          </div>
        </div>
        <%- include('../partials/footer') %>
  </body>

  </html>