<!DOCTYPE html>
  <%- include('../partials/header') %> 
  <body>
      <%- include('../partials/notification') %>
      <%- include('../partials/nav') %> 
      <div class="container">
        <%- include('../partials/products/shantui-slide.ejs') %> 
        <h6>Choose award-winning vehicles and equipment. Choose Shantui.</h6>
        <p>
            Manufactured by China's top 100 construction machinery manufacturers and multi 
            award-winning national first-class safety quality standardised enterprise, 
            Shantui Ltd has the right infrastructure, 
            quality and product pricing to guarantee optimum return-on-investment for you.
        </p>

        <div class="text-center">
            <h2>Landfill Compactors</h2>
            <img src="/imgs/products/shantui/prod-images/sr-23mr.jpg" alt="">
            <img src="/imgs/products/shantui/prod-images/sr-26mr-3.jpg" alt="">
            <img src="/imgs/products/shantui/prod-images/sr-28mr-3.jpg" alt="">
            <img src="/imgs/products/shantui/prod-images/qs-300.jpg" alt="">
            
            <h2>Bulldozers</h2>
            <img src="/imgs/products/shantui/prod-images/sd-16.jpg" alt="">
            <img src="/imgs/products/shantui/prod-images/sd-22w.jpg" alt="">
            <img src="/imgs/products/shantui/prod-images/sd-32w.jpg" alt="">
            <img src="/imgs/products/shantui/prod-images/dozer.jpg" alt="">

            <h2>Excavators</h2>
            <img src="/imgs/products/shantui/prod-images/se-220.jpg" alt="">
            <img src="/imgs/products/shantui/prod-images/se-330.jpg" alt="">
            <img src="/imgs/products/shantui/prod-images/se-480.jpg" alt="">

            <h2>Forklifts</h2>
            <img src="/imgs/products/shantui/prod-images/sf-20-sf-25.jpg" alt="">
            <img src="/imgs/products/shantui/prod-images/sf-30-sf-35.jpg" alt="">
            <img src="/imgs/products/shantui/prod-images/sf-50-sf-60-sf-70.jpg" alt="">

            <h2>Motor Graders</h2>
            <img src="/imgs/products/shantui/prod-images/sg-21-3-rev-1.jpg" alt="">

            <h2>Wheel Loaders</h2>
            <img src="/imgs/products/shantui/prod-images/sl-30w.jpg" alt="">
            <img src="/imgs/products/shantui/prod-images/sl-50w-3.jpg" alt="">
            <img src="/imgs/products/shantui/prod-images/sl-60w-3.jpg" alt="">

            <h2>Road Rollers</h2>
            <img src="/imgs/products/shantui/prod-images/sr-12-5.jpg" alt="">
            <img src="/imgs/products/shantui/prod-images/sr-19p.jpg" alt="">
        </div>
      </div>
    <%- include('../partials/footer') %> 
  </body>
</html>