<!DOCTYPE html>
<%- include('../partials/header') %>

  <body>
    <%- include('../partials/notification') %>
      <%- include('../partials/nav') %>
        <header class="text-center ">
          <h1 class="display-3 theme-bg theme-header-space"><b>SHANTUI</b></h1>
        </header>
        <div class="container">
          <div class="pt-5 pb-5">
            <%- include('../partials/products/shantui-slide.ejs') %>
          </div>
          <h6>Choose award-winning vehicles and equipment. Choose Shantui.</h6>
          <p>
            Manufactured by China's top 100 construction machinery manufacturers and multi
            award-winning national first-class safety quality standardised enterprise,
            Shantui Ltd has the right infrastructure,
            quality and product pricing to guarantee optimum return-on-investment for you.
          </p>

          <div>
            <h2 class="text-center">Landfill Compactors</h2>
            <div class="row text-center">
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/landfill/sr23mr">
                  <img src="/imgs/products/shantui/prod-images/sr-23mr.jpg" alt="">
                </a>
              </div>
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/landfill/sr26mr-3">
                  <img src="/imgs/products/shantui/prod-images/sr-26mr-3.jpg" alt="">
                </a>
              </div>
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/landfill/sr28mr-3">
                  <img src="/imgs/products/shantui/prod-images/sr-28mr-3.jpg" alt="">
                </a>
              </div>
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/landfill/qs300">
                  <img src="/imgs/products/shantui/prod-images/qs-300.jpg" alt="">
                </a>
              </div>
            </div>

            <h2 class="text-center">Bulldozers</h2>
            <div class="row text-center">
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/bulldozers/sd16">
                  <img src="/imgs/products/shantui/prod-images/sd-16.jpg" alt="">
                </a>
              </div>
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/bulldozers/sd22w">
                  <img src="/imgs/products/shantui/prod-images/sd-22w.jpg" alt="">
                </a>
              </div>
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/bulldozers/sd32w">
                  <img src="/imgs/products/shantui/prod-images/sd-32w.jpg" alt="">
                </a>
              </div>
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/bulldozers/sd52-s">
                  <img src="/imgs/products/shantui/prod-images/dozer.jpg" alt="">
                </a>
              </div>
            </div>

            <h2 class="text-center">Excavators</h2>
            <div class="row text-center">
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/excavators/se220">
                  <img src="/imgs/products/shantui/prod-images/se-220.jpg" alt="">
                </a>
              </div>
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/excavators/se330">
                  <img src="/imgs/products/shantui/prod-images/se-330.jpg" alt="">
                </a>
              </div>
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/excavators/se480">
                  <img src="/imgs/products/shantui/prod-images/se-480.jpg" alt="">
                </a>
              </div>
            </div>

            <h2 class="text-center">Forklifts</h2>
            <div>
              <div class="row text-center">
                <div class="col-xl-3 p-2">
                  <a href="/products/shantui/forklifts/sf20&sf25">
                    <img src="/imgs/products/shantui/prod-images/sf-20-sf-25.jpg" alt="">
                  </a>
                </div>
                <div class="col-xl-3 p-2">
                  <a href="/products/shantui/forklifts/sf30&sf35">
                    <img src="/imgs/products/shantui/prod-images/sf-30-sf-35.jpg" alt="">
                  </a>
                </div>
                <div class="col-xl-3 p-2">
                  <a href="/products/shantui/forklifts/sl60w-3">
                    <img src="/imgs/products/shantui/prod-images/sf-50-sf-60-sf-70.jpg" alt="">
                  </a>
                </div>
              </div>
            </div>

            <h2 class="text-center">Motor Graders</h2>
            <div class="row text-center">
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/motor-graders/sf20&sf25">
                  <img src="/imgs/products/shantui/prod-images/sg-21-3-rev-1.jpg" alt="">
                </a>
              </div>
            </div>

            <h2 class="text-center">Wheel Loaders</h2>
            <div class="row text-center">
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/wheel-loaders/sl30w">
                  <img src="/imgs/products/shantui/prod-images/sl-30w.jpg" alt="">
                </a>
              </div>
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/wheel-loaders/sl50w-3">
                  <img src="/imgs/products/shantui/prod-images/sl-50w-3.jpg" alt="">
                </a>
              </div>
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/wheel-loaders/sl60w-3">
                  <img src="/imgs/products/shantui/prod-images/sl-60w-3.jpg" alt="">
                </a>
              </div>
            </div>

            <h2 class="text-center">Road Rollers</h2>
            <div class="row text-center">
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/road-rollers/sr12-5">
                  <img src="/imgs/products/shantui/prod-images/sr-12-5.jpg" alt="">
                </a>
              </div>
              <div class="col-xl-3 p-2">
                <a href="/products/shantui/road-rollers/sr19p">
                  <img src="/imgs/products/shantui/prod-images/sr-19p.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <%- include('../partials/footer') %>
  </body>

  </html>